:root {
    --colour-background: #232225;
    --colour-background-gradient: #451D47;
    --colour-surface: #1A191B;
    --colour-surface-dark: #121113;
    --colour-text-primary: #EEEEF0;
    --colour-text-muted: #B5B2BC;
    --colour-border: #3C393F;

    --radius-sm: 5px;
    --radius-md: 12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background:
            radial-gradient(
                    ellipse 40% 120% at 10% 50%,
                    var(--colour-background-gradient),
                    transparent 100%
            ),
            var(--colour-background);
    color: var(--colour-text-primary);
    font-family: 'Aileron', sans-serif;
}

.logo {
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 0.12em;
    color: var(--colour-text-primary);
    text-decoration: none;
}
